@font-face {
    font-family: "Montserrat";
    src: url(https://github.com/JulietaUla/Montserrat/blob/master/fonts/ttf/Montserrat-Black.ttf?raw=true) format("truetype");
}

#ng_trade_map {
    margin: 8px;
    padding: 8px;
    height: fit-content;
    width: fit-content;
    background-color: #59a2ba;
}

#energy_dependence_map {
    left: calc(50% - 375px);
    padding: 19px;
    height: fit-content;
    width: fit-content;
    background-color: #256D85;
}

#electricity_mix_bar {
    margin: 19px;
    padding: 19px;
    height: fit-content;
    width: fit-content;
    background-color: #256D85;
}

#background {
    background-color: #06283D;
}

#main_box {
    margin: auto;
    margin-top: 19px;
    margin-bottom: 19px;
    padding: 19px;
    width: fit-content;
    height: fit-content;
    background-color: #256D85;
}

#head_box {
    margin: auto;
    margin-bottom: 19px;
    padding: 10px;
    width: 1000px;
    height: auto;
    background-color: #DFF6FF;
}

#body_box {
    margin: auto;
    margin-bottom: 19px;
    padding: 10px;
    width: 1000px;
    height: auto;
    background-color: #DFF6FF;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size:48px;
    font-family: Montserrat;
}

#chart_title {
    text-align: center;
    font-weight: bold;
    font-size:24px;
    font-family: Montserrat;
}

#body_text {
    text-align: justify;
    font-size: 18px;
    font-family: Lato;
    padding: 10px;
}

#caption {
    text-align: center;
    font-size: 11px;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}